@import 'tailwindcss';
@import '@fontsource/fira-mono';

@theme {
	--color-noice: #D5D5E7;
	--color-noice-light: #D5D5E799;
	--color-borders: hsl(240, 28%, 26%);
	--color-primary: #1A1A2D;
	--color-secondary: #1D1D34;
	--color-input:hsl(240, 28%, 14%)
}
